
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

.header {
    width: 100%;
    height: 200px;
    background-color: #153d77;
    position: fixed;
    top: 0;
}

.main {
    width: 100%;
    height: 300px;
    position: fixed;
    top: 20px;
}

.icon {
    justify-content: flex-end;
}

.card-body {
    border: 1px solid #153d77;
    margin: 20px 10px;
    background-color: #E9ECEF;
}

.input-date {
    width: 33%;
}

select {
    width: 20%; 
    display: inline-block;
}

label {
    width: 42px;
    margin-left: 0px;
}

.input-disabled {
    width: 37% !important;
}

.input-disabled-1 {
    width: 12% !important;
}
.input-disabled-2 {
    width: 15% !important;
}
.input-disabled-3 {
    width: 53% !important;
}


.select-1 {
    width: 13% !important;
}

.select-2 {
    width: 25% !important;
}

.input-text {
    width: 53% !important;
}
.input-text-1 {
    width: 28% !important;
}

.input-table,
.select-table {
    width: 65px;
    margin-left: 5px;
}

.main-table {
    overflow-y: scroll;
    height: 320px;
}

